<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<ul>
  <li><a href="" [routerLink]="['/']">Home</a></li>
  <li><a href="" [routerLink]="['/admin']">Admin</a></li>
</ul>

<router-outlet></router-outlet>
